extends layout

block content
  h1 #{title} cipher
  p Message to encrypt: #{message}
  button(onclick="cipher('" + title + "', '" + message + "');") Cipher
  button(onclick="setCookie('message', '" + message + "', 2);") Store cookie
  button(onclick="alert(getCookie('message'))") Display cookie
  p Encrypted message: <span id="output"></span>