body {background-color:#FF5733}
h1 {background-color:#DAF7A6; color:#191817}
.first {background-color:yellow; color:orange}
.second {background-color:yellow; color:red}
#important {background-color:white; color:black}